<!DOCTYPE html>
<html>
  <!--[if IE 7]><html class="ie ie7 ltie9"><![endif]-->
  <!--[if IE 8]><html class="ie ie8 ltie9"><![endif]-->
  <!--[if gte IE 9]><html class="ie ie9"><![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>这是一个PC demo页面</title>
  </head>
  <body>
    <div id="header"></div>
    <div id="schoolMap"></div>
    <div id="footer"></div>
    <script src="../src/commonJs/jquery-1.8.2.min.js"></script>
    <script src="../src/commonJs/jquery.util.js"></script>
    <script src="../src/commonJs/jquery.encrypt.js"></script>
    <script src="../src/commonJs/base.js"></script>
    <script src="../src/commonJs/common.js"></script>
    <script src="../src/commonJs/url.js"></script>
    <script src="../src/commonJs/base64.js"></script>
    <script src="../src/commonJs/message.js"></script>
    <!-- PC header-->
    <script src="http://guiyang.scity.cn/static/common/js/common_header.js"></script>
    <!-- componnets -->
    <script src="/dist/schoolMapMain.build.js"></script>
    <script></script>
  </body>
</html>