extends share/_h5Layout

block pageTitle
  title 主页
  //- var hasBodyBg = true;

block pageContent
  .headr
    div 这是一个H5demo页面
    
  .footer
block pageScript
  include share/_script
  script.
    
