
$imgUrl: '../img';
$cvs: '0610';


// 屏幕宽度
$min-width: 768px;
$std-width: 1000px;
$max-width: 1200px;

// 屏幕宽度
$main-purple: #7f1f59;
$main-light-purple: #b46299;
$getTelIntrobg: #f7f6f5;
$getTelIntrobd: #ece8e6;

// btn颜色
$btn-active: #b2b2b2;
$btn-hover: #b2b2b2;
$btn-clear: #ccc;
$red:#F40F0F;
// 常用颜色
$white: #FFF;
$black: #000;
$light-black: #333;
$deep-gray: #666;
$middle-gray: #808080;
$gray: #999;
$light-gray: #ccc;
$fz-active: #b2b2b2;

// 主背景色
$main-bgc: #faf8f9;

// 主边框色
$main-bdc: #e6e6e6;

// 主输入框边框色
$main-input-bdc: #ece8e6;

// head模块配色
$mhead-slim-bgc: #faf8f9;
$mhead-slim-bdc: #e6e6e6;

// foot模块配色
$mfoot-bgc: #e6e6e6;
$mfoot-bdc: #e6e6e6;
$mfoot-color:#e6e6e6;
